@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&family=Open+Sans:wght@300&family=Roboto:ital,wght@0,300;0,500;1,300&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
